.day {
  border-left: 1px solid hsl(0, 0%, 96%);
  border-right: 1px solid hsl(0, 0%, 96%);
  border-bottom: 1px solid hsl(0, 0%, 96%);
  padding: 0rem !important;
}

a.link-day-calendar {
  display: inline-block;
  width: 100%;
  padding: 0.76rem;
}

a.link-day-calendar:hover {
  background-color: hsl(0, 0%, 96%);
}

a.link-day-calendar:active,  a.link-day-calendar:visited {
  background-color: hsl(0, 0%, 96%);
}